# JIRA Configuration
NEXT_PUBLIC_JIRA_BASE_URL=
JIRA_API_TOKEN=
JIRA_STORY_POINTS_FIELD=customfield
JIRA_RESOLVED_STATUS=Solved

# Absolute path to database
DATABASE_URL="file:./prisma/dev.db"

# Authentication
AUTH_ENABLED=false
AUTH_USERNAME=user
AUTH_PASSWORD_HASH=# Generate with: npx tsx scripts/hash-password.ts "your-password"

# Team configuration
NEXT_PUBLIC_TEAM_NAME=TEAM
NEXT_PUBLIC_RELEASE_NUMBER=1
NEXT_PUBLIC_TEAM_ICON=🚀 

# SOCKS Proxy
SOCKS_PROXY_URL=socks5://127.0.0.1:1234


